{% extends 'base.html.twig' %}
{% block title %}Univ - Géstion Borderaux{% endblock %}

{% block body %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
          <h1>Géstion Des Borderaux</h1>
          <div class="section-header-breadcrumb">
            {% for operation in operations %}
                {% if operation.designation == 'Ajouter' %}
                    <a href="{{operation.link}}" class="{{operation.classTag}}" id="{{operation.idTag}}" disabled><i class="{{operation.icon}}"></i>  {{operation.designation}}</a>
                  {% else %}
                    <a href="{{operation.link}}" class="{{operation.classTag}}" id="{{operation.idTag}}"><i class="{{operation.icon}}"></i>  {{operation.designation}}</a>
                {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Tableau des Seances</h4>
            </div>
            <div class="card-body">
                <div class="card-search" style="margin-bottom: 1.5rem;">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="etablissement">Etablissement:</label>
                            <select class="form-control" name="etablissement" id="etablissement">
                                <option value="">Choix Etablissement</option>
                                {% for etablissement in etablissements %}
                                    <option value="{{etablissement.id}}">{{etablissement.designation}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="formation">Formation:</label>
                            <select class="form-control" name="formation" id="formation">
                                <option value="">Choix Formation</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="promotion">Promotion:</label>
                            <select class="form-control" name="promotion" id="promotion">
                                <option value="">Choix Promotion</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="semaine">semaine:</label>
                            <select class="form-control" name="semaine" id="semaine">
                                <option value="">Choix semaine</option>
                                {% for semaine in semaines %}
                                    <option value="{{semaine.id}}">Semaine {{semaine.nsemaine}} de: {{semaine.datedebut | date('j/m')}} à {{semaine.datefin | date('j/m')}} {{semaine.datefin | date('Y')}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                    </div>
                </div>
            <table id="datables_gestion_borderaux" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:50px">Ord</th>
                        <th style="width:50px">#</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th style="width:50px">Ord</th>
                        <th style="width:50px">#</th>
                        <th>Code</th>
                    </tr>
                </tfoot>
            </table>
            </div>
            
        </div>
        </div>
    </section>
</div>



<!--Modal Import Group-->
{# {% include 'planification/modals/annuler.html.twig' %} #}

{% endblock %}

{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('gestionBorderaux') }}

{# <script src="/assets/js/honoraire/gestion_borderaux.js"></script> #}

{% endblock %}

