
<label for="observation">Observation:</label>
<input type="text" class="form-control" name="observation" id="observation" placeholder="Observation" value="{{programmation.observation}}"/>
<label for="volume">Volume:</label>
<input type="text" class="form-control" name="volume" id="volume" placeholder="Volume" value="{{programmation.volume}}"/>
<label for="nature">Nature:</label>
<select class="form-control" name="nature" id="nature">
    <option value="">Choix Nature Epreuve</option>
    {% for nature in natures %}
        {% if programmation.natureEpreuve == nature %}
            <option value="{{nature.id}}" selected>{{nature.designation}}</option>
            {% else %}
            <option value="{{nature.id}}">{{nature.designation}}</option>
        {% endif %}
    {% endfor %}
</select>
<label for="enseignant">enseignants:</label>
<select class="form-control chosen-select" name="enseignants[]" id="enseignants" multiple="multiple">
    <option value="" disabled="disabled">Choix Enseignant</option>
    {% for enseignant in enseignants %}
        {% if enseignant in programmation.Enseignants %}
            <option value="{{enseignant.id}}" selected>{{enseignant.nom}} {{enseignant.prenom}}</option>
            {% else %}
            <option value="{{enseignant.id}}">{{enseignant.nom}} {{enseignant.prenom}}</option>
        {% endif %}
    {% endfor %}
</select>
<button type="submit" class="btn btn-success mt-4"><i class="fas fa-check-circle"></i> Enregister</button>
            