<div class="col-md-6" style="border-right: 1px solid #eee;">
    <fieldset>
        <legend>Informations sur le pere </legend>
        <div class="col-md-6">
            <div class="form-group">
                <label>Situation des Parents :</label>
                <select class="form-control " style="width: 100%" name="situation_parents">
                    <option value="" disabled selected>Choix de situation</option>
                        {% for situation in situations %}
                            {% if etudiant.stFamilleParent == situation  %}
                                <option value="{{situation.id}}" selected>{{situation.designation}}</option>
                            {% else %}
                                <option value="{{situation.id}}">{{situation.designation}}</option>
                            {% endif %}
                        {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>  Nom pere  :</label>
                <input class="form-control" type="text" name="nom_p" placeholder="Nom pere" value="{{etudiant.nomPere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Prénom pere  :</label>
                <input class="form-control" type="text" name="prenom_p" placeholder="Prénom pere" value="{{etudiant.prenomPere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Nationalité pere  :</label>
                <input class="form-control" type="text" name="nationalite_p" placeholder="Nationalité pere" value="{{etudiant.nationalitePere}}"> 
            </div>
        </div> 


        <div class="col-md-6">
            <div class="form-group">
                <label>  profession pere  :</label>
                <input class="form-control" type="text" name="profession_p" placeholder="Profession pere" value="{{etudiant.professionPere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  employé pere  :</label>
                <input class="form-control" type="text" name="employe_p" placeholder="Employé pere" value="{{etudiant.employePere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Catégorie pere  :</label>
                <input class="form-control" type="text" name="categorie_p" placeholder="Catégorie pere" value="{{etudiant.categoriePere}}"> 
            </div>
        </div> 


        <div class="col-md-6">
            <div class="form-group">
                <label>  Téléphone pere  :</label>
                <input class="form-control" type="text" name="tel_p" placeholder="Téléphone pere" value="{{etudiant.telPere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Mail pere  :</label>
                <input class="form-control" type="text" name="mail_p" placeholder="Mail pere" value="{{etudiant.mailPere}}"> 
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>  Salaire pere  :</label>
                <input class="form-control" type="text" name="salaire_p" placeholder="Salaire pere" value="{{etudiant.salairePere}}"> 
            </div>
        </div>
    </fieldset>
</div>
<div class="col-md-6 parents-tab" style="border-left: 1px solid #eee;">
    <fieldset>
        <legend>Informations sur la mere </legend>
        <div class="col-md-6">
            <div class="form-group">
                <label>  Nom mere  :</label>
                <input class="form-control" type="text" name="nom_m" placeholder="Nom mere" value="{{etudiant.nomMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Prénom mere  :</label>
                <input class="form-control" type="text" name="prenom_m" placeholder="Prénom mere" value="{{etudiant.prenomMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Nationalité mere  :</label>
                <input class="form-control" type="text" name="nationalite_m" placeholder="Nationalité mere" value="{{etudiant.nationaliteMere}}"> 
            </div>
        </div> 


        <div class="col-md-6">
            <div class="form-group">
                <label>  profession mere  :</label>
                <input class="form-control" type="text" name="profession_m" placeholder="Profession mere" value="{{etudiant.professionMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  employé mere  :</label>
                <input class="form-control" type="text" name="employe_m" placeholder="Employé mere" value="{{etudiant.employeMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Catégorie mere  :</label>
                <input class="form-control" type="text" name="categorie_m" placeholder="Catégorie mere" value="{{etudiant.categorieMere}}"> 
            </div>
        </div> 


        <div class="col-md-6">
            <div class="form-group">
                <label>  Téléphone mere  :</label>
                <input class="form-control" type="text" name="tel_m" placeholder="Téléphone mere" value="{{etudiant.telMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Mail mere  :</label>
                <input class="form-control" type="text" name="mail_m" placeholder="Mail mere" value="{{etudiant.mailMere}}"> 
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>  Salaire mere  :</label>
                <input class="form-control" type="text" name="salaire_m" placeholder="Salaire mere" value="{{etudiant.salaireMere}}"> 
            </div>
        </div> 

    </fieldset>      
</div> 