<div class="modal" role="dialog" id="privillege-modal" aria-modal="true"> 
<div class="modal-dialog modal-md" style="max-width: 400px !important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter privilege</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="alert alert-info">Veuillez selectionner un ligne Pour Continuer Cette opération !!</div> -->
        <div class="privilege">
            <ul>
                <span><input type="checkbox" class="tous"/> Tous</span>
                <div class="privilege__list">
                {% for module in modules %}
                <li><h4 class="Collapsable modules"> <input type="checkbox" data-id="{{module.id}}" class="inputModule" /> {{module.designation}}</h4>
                    <ul style="display:none">
                        {% for sousModule in module.sousModule %}
                        <li>
                            <span class="Collapsable sousModules" style="font-size:14px"><input type="checkbox" data-module="{{sousModule.id}}" class="inputSousModule" /> {{sousModule.designation}}</span>
                            <ul style="display:none" class="listOfButtons">
                                {% for operation in sousModule.operations %}
                                <li>  <span class="Collapsable buttons"> <input type="checkbox" class="{{operation.id}} inputOperation" data-operation="{{operation.id}}" /> {{operation.designation}}</span></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}

                    </ul>
                </li>
                {% endfor %}
                </div>
                
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>