<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<style type="text/Css">
    body{
        font-family: 'Courier', sans-serif;
        color: rgb(90, 90, 95) !important;
    }
    footer {
        /* font-family: 'Courier', Courier; */

    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        /* font-weight: bold */
    }
    div.zone_over
    {
        display: block;
        width: 40%;
        word-wrap:break-word !important;
    }
    .slh tr td {
        border-bottom: 1px solid #8d8d8d;
    }
    
    .txt {
        width: 100%;
        text-align: left;
        line-height: 30px; 
        padding-top: 0px ;  
        padding-bottom:  0px ;
        padding-left: 30px ;
        padding-right:  30px ;
        text-align: justify; 
        font-size : 10.5px;
        font-weight: normal ;
    }
    .txt span {
        /* font-size:11px; */
        /* font-weight: bold; */
        /* color:black; */
        margin-left: 5px ; 
        margin-right: 5px ; 
    }
</style>
<div style="text-align: center;">
        <table style="width: 100% ;" cellspacing="0">
            <tr>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:0 4px;color:rgb(3, 35, 68);">
                    {# {% if inscription.annee.formation.etablissement.id == 28 %}
                        <img src="./assets/img/logo/cpge.jpg" style=" width: 400px; margin: 0 auto;">                
                    {% endif %} #}
                </th>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:0 4px;color:rgb(3, 35, 68);">
                    {% if inscription.annee.formation.etablissement.id == 28 %}
                            <img src="./assets/img/logo/cpge.svg" style=" width: 600px; margin: 0 auto;"> 
                    {% elseif inscription.annee.formation.etablissement.id == 5 %}
                            <img src="./assets/img/logo/logo_lez.png" style=" width: 600px; margin: 0 auto;">
                    {% else %}                
                            <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style=" width: 600px; margin: 0 auto;">
                    {% endif %}
                    {# <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style=" width: 400px; margin: 0 auto;"> #}
                </th>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:0 4px;color:rgb(3, 35, 68);">
                    {# {% if inscription.annee.formation.etablissement.id == 28 %}               
                        <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style=" width: 400px; margin: 0 auto;">
                    {% endif %} #}
                </th>                    
            </tr>
        </table>
    {# <img src="./assets/img/logo/Logo_UIASS_bkack2.png" style=" width: 180px; margin: 0 auto;"> #}
    {# <img src="./assets/img/logo/cpge.jpg" style=" width: 250px; margin: 0 auto;"> #}
</div>
{# <br><br><br><br><br><br><br> #}
<br/>
<br/>
<p style="text-align:center;font-size:18px;font-weight: bold;color:black;">ATTESTATION D'INSCRIPTION </p>
<br/>
<br/><br/>
<table style="width: 100%;"  cellspacing="0">

    <tbody>

        <tr>
            {% if inscription.annee.formation.etablissement.id == 5 %}
            <td class="txt">
               Le Lycée Al-Zahraoui sis à Madinat Al Irfane, Bâtiment B, Allal El Fassi, Rabat, atteste par la présente que
            </td>
            {% else %}
            <td class="txt">
               L'Université Internationale Abulcasis des Sciences de la Santé (UIASS) sis à Madinat Al Irfane, Bâtiment B, Allal El Fassi, Rabat, atteste par la présente que
            </td>
            {% endif %}

        </tr>
    </tbody>

</table>
<br>
<br>


<table style="width: 100%;font-size:12px;"  cellspacing="0">
    <tbody>
         <tr style="padding-bottom: 5px ;">
            <td style="width: 10%; text-align: left;line-height: 30px">
               
            </td>

            <td style="width: 60%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;">Code étudiant</span> : 
                {{inscription.admission.preinscription.etudiant.code}}
            </td>
            <td style="width: 30%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span>
            </td> 
        </tr>
        
        <tr>
             <td style="width: 10%; text-align: left;line-height: 30px">
               
            </td>
            <td style="width: 70%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"></span> 
            </td>
            <td style="width: 20%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span>
            </td> 
        </tr>

        <tr>
            <td style="width: 10%; text-align: left;line-height: 30px">
               
            </td>

            <td style="width: 70%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;">Nom</span> : 
                {{inscription.admission.preinscription.etudiant.nom}}
            </td>
            <td style="width: 20%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span>
            </td> 
        </tr>
        
        <tr>
             <td style="width: 10%; text-align: left;line-height: 30px">
               
            </td>
            <td style="width: 70%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span> 
            </td>
            <td style="width: 20%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span>
            </td> 
        </tr>
        <tr>
             <td style="width: 10%; text-align: left;line-height: 30px">
               
            </td>
            <td style="width: 70%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;">Prénom </span> : 
                {{inscription.admission.preinscription.etudiant.prenom}}
            </td>
            <td style="width: 20%; text-align: left;line-height: 30px">
                
            </td>
        </tr>
                <tr>
                     <td style="width: 10%; text-align: left;line-height: 30px">
               
            </td>
            <td style="width: 70%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span> 
            </td>
            <td style="width: 20%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span>
            </td> 
        </tr>
        <tr>
             <td style="width: 10%; text-align: left;line-height: 30px">
               
            </td>
            <td style="width: 70%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;">Etablissement  </span> : 
                {{inscription.annee.formation.etablissement.designation}} 
            </td>
            <td style="width: 20%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span>
            </td>
        </tr>
                <tr>
                     <td style="width: 10%; text-align: left;line-height: 30px">
               
            </td>
            <td style="width: 70%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span> 
            </td>
            <td style="width: 20%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span>
            </td> 
        </tr>
        <tr>
             <td style="width: 10%; text-align: left;line-height: 30px">
               
            </td>
            <td style="width: 70%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;">Formation </span> : 
                {{inscription.annee.formation.designation}}
            </td>
            <td style="width: 20%; text-align: left;line-height: 30px">
                <span style="font-size:11px;font-weight: bold;color:black;"> </span>
            </td>
        </tr>
    </tbody>

</table>
<br><br>

<table style="width: 100%;"  cellspacing="0">

    <tbody>

        <tr>

            <td class="txt">
               Est inscrit(e) sous le n° <span style="font-size:12px;font-weight: bold;color:black;">{{inscription.code}}  </span> 
                  pour l'année universitaire <span style="font-size:12px;font-weight: bold;color:black;">{{inscription.annee.designation}}  </span>.
                <br>
               
                Cette attestation est délivrée à l'intéressé(e) pour servir et valoir ce que de droit.
            </td>

        </tr>
    </tbody>

</table>

<br><br>

<table style="width: 100%;" align="center" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 30%; text-align: left;"></th>

        </tr>
    </thead>
    <tbody>

        <tr>

            <td style="width: 89%; text-align: right;">
                <br>
                <span style="font-size:10px;font-weight: bold;color:black;"> Fait à Rabat, le {{"now"|date('d/m/Y')}}</span>

            </td>

        </tr>
    </tbody>

</table>