<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<style type="text/Css">
   
    body{
        font-family: 'Source Sans Pro', sans-serif;
    }
    .slh tr td {
        border-bottom: 1px solid #292929;
        text-align: left;
    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        font-weight: bold
    }
    div.zone_over
    {
        display: block;
        width: 40%;
        word-wrap:break-word !important;
    }

</style>
<br/>

<table style="width: 100% ;text-align: center;border: 1px solid #292929; border-bottom: none;" cellspacing="0">        <tr>
    <tr>
    <td style="width: 30% ; border-bottom: 1px solid #292929 ;">
        <table style="width: 100% ;" cellspacing="0">
            <tr>
                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:4px;color:rgb(3, 35, 68);">Code Epreuve </th>
            </tr>
            <tr>

                <td style="border-bottom: 1px solid #292929 ;width: 100%"></td>
            </tr>

            <tr>
                <td style="width: 100% ; font-size: 11px ;padding:4px;color:rgb(31, 79, 122);">{{epreuve.code}}</td>
            </tr>
        </table>
    </td>
    <td style="width: 40% ;font-size: 20px;font-weight: bold ; border-left: 1px solid #292929 ;border-right: 1px solid #292929; border-bottom: 1px solid #292929 ;color:rgb(3, 35, 68);">EPREUVE </td>
    <td style="width: 30% ;border-bottom: 1px solid #292929 ;">
        <table style="width: 100% ; background: #FFFFFF; text-align: center" cellspacing="0">
            <tr>

                <th style="width: 100% ; font-size: 13px ;font-weight: 200;font-weight: bold;padding:4px;color:rgb(3, 35, 68);">Date   </th>
            </tr>
            <tr>

                <td style="border-bottom: 1px solid  #292929 ;width: 100%"></td>
            </tr>

            <tr>

                <td style="width: 100% ; font-size: 11px ;padding:4px;color:rgb(3, 35, 68);">{{ "now"|date("d/m/Y") }}</td>
            </tr>
        </table>
    </td>

</tr>


</table>



<h2 style="text-align: center;">
    ETAT DES NOTES {% if epreuve.statut.id == 30 %} DÉFINITIF {% endif %}
</h2>
<!--End III-  Détails commande-->
<table cellspacing="0" style="width: 100%; text-align: left; font-size: 12px" >
    <tr>
        <td style="width: 100% ;background: rgb(31, 79, 122); color: #fff ;height: 17px;padding: 4px ;font-weight: bold;padding-left: 15px;"> Informations </td> 
    </tr>
    <tr>

    </tr>
</table>
<table class="inf" style="width: 100%; text-align: left; font-size:10px">
    <tr style="width: 100%"> 
        <td style="width: 100% ;">
            <table style="width: 100% ;">
                <tr style="height:5px ;">
                    <td style="width: 25% ;font-weight: bold;">
                        <table style="width: 100% ; ">
                            <tr>
                                <td style="width: 100%;font-weight: bold;">Etablissement   : </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 75%;">
                        <table style="width: 100% ;">
                            <tr>
                                <td style="width: 100%">{{epreuve.annee.formation.etablissement.designation}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr style="height:5px ;">
                    <td style="width: 25% ;font-weight: bold;">
                        <table style="width: 100% ; ">
                            <tr>
                                <td style="width: 100%;font-weight: bold;">Formation          :</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 75%;">
                        <table style="width: 100% ;">
                            <tr>
                                <td style="width: 100%;">{{epreuve.annee.formation.designation}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td style="width: 25% ;font-weight: bold;">
                        <table style="width: 100% ; ">
                            <tr>
                                <td style="width: 100%;font-weight: bold;">Promotion          :</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 75%;">
                        <table style="width: 100% ;">
                            <tr>
                                <td style="width: 100%;">{{epreuve.element.module.semestre.promotion.designation}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                
                
                  <tr>
                    <td style="width: 25% ;font-weight: bold;">
                        <table style="width: 100% ; ">
                            <tr>
                                <td style="width: 100%;font-weight: bold;">Module          :</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 75%;">
                        <table style="width: 100% ;">
                            <tr>
                                <td style="width: 100%;">{{epreuve.element.module.designation}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                

                <tr>
                    <td style="width: 25% ;font-weight: bold;">
                        <table style="width: 100% ; ">
                            <tr>
                                <td style="width: 100%;font-weight: bold;">Elément          :</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 75%;">
                        <table style="width: 100% ;">
                            <tr>
                                <td style="width: 100%">{{epreuve.element.designation}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                
                <tr>
                    <td style="width: 25% ;font-weight: bold;">
                        <table style="width: 100% ; ">
                            <tr>
                                <td style="width: 100%;font-weight: bold;">Epreuve          :</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 75%;">
                        <table style="width: 100% ;">
                            <tr>
                                <td style="width: 100%">{{epreuve.natureEpreuve.designation}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                
                
                <tr>
                    <td style="width: 25% ;font-weight: bold;">
                        <table style="width: 100% ; ">
                            <tr>
                                <td style="width: 100%;font-weight: bold;">Nature          :</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 75%;">
                        <table style="width: 100% ;">
                            <tr>
                                <td style="width: 100%">{{epreuve.nature}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                
                
                
                <tr>
                    <td style="width: 12% ;font-weight: bold;">
                        <table style="width: 100% ; ">
                            <tr>
                                <td style="width: 100%;font-weight: bold;">Professeur           :</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 75%;">
                        <table style="width: 100% ;">
                            <tr>
                                <td style="width: 100%">{{epreuve.enseignant.nom}} {{epreuve.enseignant.prenom}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
            </table>
        </td>
    </tr>   
</table>

<br/>
<table style="width: 100% ; background: #FFFFFF;font-size: 10px" cellspacing="0" class="slh">
    <thead>
        <tr style="background-color: rgb(31, 79, 122);font-size: 9px;">
            <th style="width: 7%;text-align: left; padding:6px;border-right:1px solid white;font-weight: bold;color: white;font-size: 10px">ORD</th>
            <th style="width: 23%;text-align: left; padding:6px;border-right:1px solid white;font-weight: bold;color: white;font-size: 10px">Anonymat</th>
            <th style="width: 20%;text-align: left; padding:6px;border-right:1px solid white;font-weight: bold;color: white;font-size: 10px">Note</th>
            <th style="width: 15%;text-align: left; padding:6px;border-right:1px solid white;font-weight: bold;color: white;font-size: 10px">Absence</th>
            <th style="width: 15%;text-align: left; padding:6px;border-right:1px solid white;font-weight: bold;color: white;font-size: 10px">Observation</th>
        </tr>
    </thead>
    <tbody>
        {% for gnote in epreuve.gnotes|sort((a, b) => a.anonymat <=> b.anonymat) %}
        <tr>
            <td style="padding:6px;border-right:1px solid white;text-align: left;">{{loop.index}}</td>
            <td style="padding:6px;border-right:1px solid white;text-align: left;">{{gnote.anonymat}}</td>
            <td style="padding:6px;border-right:1px solid white;text-align: left;">{{gnote.note}}</td>
            <td style="padding:6px;border-right:1px solid white;text-align: left;">{% if gnote.absence == 1 %} Absent {% endif %} </td>
            <td style="padding:6px;border-right:1px solid white;text-align: left;">{{gnote.observation}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>