<p><span>Etablissement:</span> {{inscription.annee.formation.etablissement.designation}}</p>
<p><span>Formation:</span> {{inscription.annee.formation.designation}}</p>
<p><span>Code:</span> {{inscription.code}}</p>
<p><span>Nom:</span> {{inscription.admission.preinscription.etudiant.nom}}</p>
<p><span>Prénom:</span> {{inscription.admission.preinscription.etudiant.prenom}}</p>
<p><span>Date de naissance:</span> {{inscription.admission.preinscription.etudiant.dateNaissance|date("m/d/Y")}}</p>
<p><span>Lieu de naissance:</span>{{inscription.admission.preinscription.etudiant.lieuNaissance}} </p>
<p><span>Nationalité:</span> {{inscription.admission.preinscription.etudiant.nationalite}}</p>
<p><span>Sexe:</span> {{inscription.admission.preinscription.etudiant.sexe}}</p>
<p><span>C.I.N:</span> {{inscription.admission.preinscription.etudiant.cin}}</p>
<p><span>Passport:</span> {{inscription.admission.preinscription.etudiant.passeport}}</p>
<p><span>C.N.E:</span> {{inscription.admission.preinscription.etudiant.cne}}</p>
<p><span>Type de bac:</span> 
	{% if inscription.admission.preinscription.etudiant.typeBac %}
		{{inscription.admission.preinscription.etudiant.typeBac.designation}}
	{% endif %}
</p>
	
<p><span>Filiére:</span> 
{% if inscription.admission.preinscription.etudiant.filiere %}
{{inscription.admission.preinscription.etudiant.filiere.designation}}
{% endif %}
</p>
<p><span>Moyenne de bac:</span> {{inscription.admission.preinscription.etudiant.moyenneBac}}</p>
<p><span>Nature de demande:</span> 
{% if inscription.admission.preinscription.etudiant.natureDemande %}
{{inscription.admission.preinscription.etudiant.natureDemande.designation}}
{% endif %}
</p>
<p><span>Téléphone 1:</span> {{inscription.admission.preinscription.etudiant.tel1}}</p>
<p><span>Téléphone 2:</span> {{inscription.admission.preinscription.etudiant.tel2}}</p>
<p><span>E-Mail:</span> {{inscription.admission.preinscription.etudiant.mail1}}</p>
<p><span>Adresse:</span> {{inscription.admission.preinscription.etudiant.adresse}}</p>