
<table style="width: 100%;" cellspacing="0">
    <tbody>

        <tr>
            <td style="width:45%; text-align:center"><img style="width:80px;margin: 0 auto;" src="{{ asset('assets/img/logo/Logo_UIASS_bkack2.png') }}" alt="Logo"></td>
            <td style="width:1%;"></td>
            <td style="width:80%;"><h1>Situation Présentielle</h1></td>
        </tr>
        </br>
        </br>
       
    
    </tbody>

</table>
<br/>
<div class="row">
  <div class="column left" >
   <table style="width: 100%;" cellspacing="0">
    <tbody>
      

        <tr>
            <td >Id Admission :  {{admission}} </td>
            <td >&nbsp;&nbsp;&nbsp;</td>
            <td >&nbsp;&nbsp;&nbsp;</td>
            <td >&nbsp;&nbsp;&nbsp;</td>
            <td >&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
        <td style"width:95%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        </tr>
       
        <tr>
            <td >Etudiant : {{Nom}} {{Prenom}}</td>
            <td >&nbsp;&nbsp;&nbsp; </td>
            <td >&nbsp;&nbsp;&nbsp;</td>
            <td >&nbsp;&nbsp;&nbsp;</td>
            <td >&nbsp;&nbsp;&nbsp;</td>
           
        </tr>
         <tr>
        <td style"width:95%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        </tr>
        <tr>
            <td >Etablissement : {{Etab}}</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
           
        </tr>
         <tr>
        <td style"width:95%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        </tr>
        <tr>
            <td >Formation : {{for}}</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
           
        </tr>
         <tr>
        <td style"width:95%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        <td style"width:1%"><hr/></td>
        </tr>
        <tr>
            <td >Promotion : {{pro}}</td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
           
        </tr>
        <tr>
            <td >&nbsp;&nbsp;<h5 style="margin-left:100px;"> (A-Z) : Présent - B : Retard  C & D & AD & BD : Absent - P : Capitaliser </h5></td>
            
           
        </tr>
      
       

    
    </tbody>

</table>

 