<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('assets/img/favicon/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('assets/img/favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('assets/img/favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="{{asset('assets/img/favicon/site.webmanifest')}}">
        <title>{% block title %}Univ{% endblock %}</title>
        {% block stylesheets %}
	        {{ encore_entry_link_tags('app') }}           
            
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="app">
            <div class="main-wrapper">
            
            {% include 'inc/navbar.html.twig' %}
            {% include 'inc/sidebar.html.twig' %}
            {% block body %}

            {% endblock %}
            </div>
        </div>
    </body>
</html>
