{% extends 'base.html.twig' %}

{% block title %}Service Assiduite{% endblock %}

{% block body %}
<style>
.col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 14%;
}
.section .section-header .btn {
    font-size: 1.2rem;
}

{# @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap'); #}

{# * {
	box-sizing: border-box;
} #}

.grid {
	display: grid;
	font-size: calc(0.4rem + 0.5vw);
	margin: 0;
	color: #333;
	
	
}

h1 {
	grid-column: 2 / -1;
	font-weight: normal;
	border-bottom: 1px solid #999;
}

.grid {
	display: grid;
  grid-template-columns: auto repeat(7, 1fr);
  grid-template-rows: auto auto repeat(7, 1fr);
 
  gap: 1em;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 46em;
        margin-left: 300px;

}

.box {
	padding: 0.5em;

  border: 2px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: italic;
	background: #f0f0f0;
	
	
}

.row-label {
	text-align: right;
}

tr.highlighty{
  background-color: rgb(220 245 255 / 73%) !important ;
  color: black;
}
.odd{background-color:none;}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid grey;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 778px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
} 

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.notraiter{
  background:linear-gradient(90deg, transparent 23.6018%, #add8e6 23.6018%) left center / 30% 80%  no-repeat !important;
}
.traiter{
  background:linear-gradient(90deg, transparent 23.6018%, #90ee90 23.6018%) left center / 30% 80%  no-repeat !important;

}
.Verouiller{
  background:linear-gradient(90deg, transparent 23.6018%, #dc143c 23.6018%) left center / 30% 80%  no-repeat !important;

}

   	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}
    /*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}
  
</style>
<div class="main-content">
    <section class="section">
        <div class="section-header">
          <h1>Assiduite</h1>
          <div class="section-header-breadcrumb" style="gap:1rem;">
              {% for operation in operations %}
                <button class="{{operation.classTag}}" id="{{operation.idTag}}"><i class="{{operation.icon}}"></i>  {{operation.designation}}</button>
              {% endfor %}

          </div>
        </div>

        <div class="section-body">
        <div class="card">
        <div class="card-header">
                <h4>Traitement</h4>
            </div>
           <div class="row" style="width: 100%; margin: 0;">
               <div class="col-md" style="padding-left: 0;">
                    <div class="card" style="padding: 10px; height:50rem;">
                      <br/>
                         <div class="row">
                        <div class="col-md-2" >
                            <label for="etablissement">Date:</label></br>
                                                    <input class="form-control" type="date" id="datetime" value="">

                        </div>
                        <div class="col-md-2" >
                            <label for="etablissement">Etablissement:</label>
                            <select class="form-control" name="etablissement"  id="etablissement" class="selectdata form-control custom-select">
                                 <option value="0"> Etablissement</option>
                                {% for etablissement in etablissements %}
                                    <option value="{{etablissement.id}}">{{etablissement.abreviation}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="formation">Formation:</label>
                            <select class="form-control"  class="selectdata form-control custom-select" name="formation" id="formation">
                               <option value=""> Formation</option>
                                    {% for formation in formations %}
                                        <option value="{{formation.id}}">{{formation.abreviation}}</option>
                                    {% endfor %} 

                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="nature">Promotion:</label>
                            <select class="form-control"  class="selectdata form-control custom-select" name="promotion" id="promotion">
                                <option value=""> Promoion</option>
                                    {% for promotion in promotions %}
                                        <option value="{{promotion.id}}">{{promotion.designation}}</option>
                                    {% endfor %} 
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="nature">Modifier Salle:</label>
                            <select data-child="niv3" class="form-control" name="nature" id="salle">
                                <option value=""> Salle</option>
                                    {% for salle in salles %}
                                        <option value="{{salle.id}}">{{salle.abreviation}}</option>
                                    {% endfor %} 
                            </select>
                        </div>
                        <div class="col-md-2">
</br>
                           <button id="modisalle" type="button" class="btn btn-outline-warning btn-rounded waves-effect" style="margin-top:6px;"><i class="fas fa-edit"></i>&nbsp;&nbsp;Modifier</button>
                           <button id="parlot" data-toggle="modal" data-target="#parlot_modal" type="button" class="btn btn-outline-info btn-rounded waves-effect" style="margin-top:6px;margin-left:20px;"><i class="fas fa-clock"></i>&nbsp;&nbsp;Par lot</button>

                        </div>
                        <div class="col-md-2">
<div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 147px;
    margin-top: 24px;">
    Action
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="remove"><i class="fas fa-redo pr-2" aria-hidden="true"></i>&nbsp;&nbsp;Reinisialiser</a>
    <a class="dropdown-item" id="existe"><i class="fas fa-thumbtack pr-2" aria-hidden="true"></i>&nbsp;&nbsp;Existe</a>
    <a class="dropdown-item" id="sign"><i class="fas fa-pen"></i>&nbsp;&nbsp;Signe</a>
    <a class="dropdown-item" id="cancel"><i class="fas fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;Anullée</a>
   
  </div>
</div>
                        </div>
                    </div>
                    </br>
                    </br>
                    <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"  width="100%" height="100%">

  <thead>
    <tr>
      <th >Statut
      </th>
      <th >Seance
      </th>
      <th >Nature
      </th>
      <th >Salle
      </th>
      <th >Element Module
      </th>
      <th >Enseignant
      </th>
      <th >HD
      </th>
      <th >HF
      </th>
      <th >Groupe
      </th>
      <th >Exst
      </th>
      <th >sgn
      </th>
      <th >anl
      </th>
      <th >scn
      </th>
    </tr>
  </thead>
  <tbody>
 
    
  </tbody>
 
</table>
<div class="loader"></div>

                      
                    </div>
                     <div style="width: 100px; float:left;">
 <div class="column1">
  <h4 style="margin-left:12px;">Status Séance</h4>
    <table>
  <tbody><tr>
    <th style="padding: 8px;"><svg width="50" height="30">
  <rect width="300" height="100" style="fill:lightblue; "></rect>
  Sorry, your browser does not support inline SVG.  
</svg></th>
    <th><h5>En cours</h5></th>  
  </tr>
  <tr>
    <td style="padding: 8px;"><svg width="50" height="30">
  <rect width="300" height="100" style="fill:lightgreen;"></rect>
  Sorry, your browser does not support inline SVG.  
</svg></td>
    <td><h5>Traité</h5></td>
  </tr>
  <tr>
    <td style="padding: 8px;"><svg width="50" height="30">
  <rect width="300" height="100" style="fill:#DC143C;"></rect>
  Sorry, your browser does not support inline SVG.  
</svg></td>
    <td><h5>Verouiller</h5></td>
  </tr>
 
</tbody></table>
</div>
</div>
<div style="width: 100px; float:left;">
  <div class="grid">
                     


  <span>Categorie</span>
  <span>A</span>
  <span>B</span>
  <span>C</span> 
  <span>D</span> 
  <span></span>
  <span>AD</span>
  <span>BD</span> 
	
	
	
	
  
  <span class="row-label">Nbre Etudiants</span>
  <div class="box">0</div>
  <div class="box">0</div>
  <div class="box">0</div>
  <div class="box">0</div>
  <div class="box">0</div>
  <div class="box">0</div>
  <div class="box">0</div>
	
	
 
</div>
</div>
                       
                       

               </div>

                   
 {# /////////////////////////////////////////////////////////////////////////////////////////////////////////////               #}
 

           </div>
            
        </div>
        </div>
        </div>
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

</script>
{% include 'assiduite/modals/etudiant.html.twig' %}
{% include 'assiduite/modals/parlot.html.twig' %}
{% include 'assiduite/modals/etudiant_det.html.twig' %}
{% include 'assiduite/modals/pointage.html.twig' %}

{% endblock %}
{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('assiduite') }}


{% endblock %}
