 <table id="dtDynamicVerticalScrollExample2" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" height="80%">
            <thead>
                <tr>
                <th class="th-sm">ID Admission
                </th>
                <th class="th-sm">Etudiant
                </th>
                <th class="th-sm">Pointage
                </th>
                   <th >Cat SI
                          </th>
                          <th >Cat Ens
                          </th>
                          <th >Cat Retraitement
                          </th>
                          <th >Cat F
                          </th>
          
                
                </tr>
            </thead>
            <tbody>
            {% for etud in etudiants %}
                <tr>
                <td>{{etud.code_admission}}</td>
                <td>{{etud.name}}</td>
                <td>{{etud.Pointage}}</td>
                <td>{{etud.cat}}</td>
                <td>{{etud.cat_ens}}</td>
                <td>{{etud.cat_re}}</td>
                <td>{{etud.cat_f}}</td>
                
                </tr>
                {% endfor %}
                
            </tbody>
            </table>