{% extends 'base.html.twig' %}

{% block title %}Univ - Gestions Bordereaux{% endblock %}


{% block body %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
          <h1>Gestions Des Bordereaux</h1>
          <div class="section-header-breadcrumb">
            {% for operation in operations %}
                {% if operation.designation == 'Ajouter' %}
                    <a href="{{operation.link}}" class="{{operation.classTag}}" id="{{operation.idTag}}" disabled><i class="{{operation.icon}}"></i>  {{operation.designation}}</a>
                  {% else %}
                    <a href="{{operation.link}}" class="{{operation.classTag}}" id="{{operation.idTag}}"><i class="{{operation.icon}}"></i>  {{operation.designation}}</a>
                {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Tableau des Bordereaux</h4>
            </div>
            <div class="card-body">
                <div class="card-search" style="margin-bottom: 1.5rem;">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="etablissement">Etablissement:</label>
                            <select class="form-control" name="etablissement" id="etablissement">
                                <option value="">Choix Etablissement</option>
                                {% for etablissement in etablissements %}
                                    <option value="{{etablissement.id}}">{{etablissement.designation}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="paiement">Mode de Paiement:</label>
                            <select class="form-control" name="paiement" id="paiement">
                                <option value="">Choix Mode de Paiement</option>
                                {% for paiement in paiements %}
                                    <option value="{{paiement.id}}">{{paiement.designation}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                    </div>
                </div>
            <table id="datables_borderaux" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Ord</th>
                        <th>Code bordereau</th>
                        <th>Abrevietion</th>
                        <th>Etablissement</th>
                        <th>Mode Paiement</th>
                        <th>Montant</th>
                        <th>Création</th>
                        <th>Utilisateur</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th>Ord</th>
                        <th>Code bordereau</th>
                        <th>Abrevietion</th>
                        <th>Etablissement</th>
                        <th>Mode Paiement</th>
                        <th>Montant</th>
                        <th>Création</th>
                        <th>Utilisateur</th>
                    </tr>
                </tfoot>
            </table>
            </div>
            
        </div>
        </div>
    </section>
</div>



<!--Modal Import Group-->
{# {% include 'facture/modals/add_reglement.html.twig' %} #}

{% endblock %}

{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('bordereau') }}

{# <script src="/assets/js/facture/bordereau.js"></script> #}

{% endblock %}

