<div class="col-md-6" style="border-right: 1px solid #eee;">
    <fieldset>
        <legend>Informations sur le père </legend>
        <div class="col-md-6">
            <div class="form-group">
                <label>Situation des Parents :</label>
                <select class="form-control " style="width: 100%" name="situation_parents">
                    <option value="" disabled selected>Choix de situation</option>
                        {% for situation in situations %}
                            {% if etudiant.stFamilleParent == situation  %}
                                <option value="{{situation.id}}" selected>{{situation.designation}}</option>
                            {% else %}
                                <option value="{{situation.id}}">{{situation.designation}}</option>
                            {% endif %}
                        {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>  Nom père  :</label>
                <input class="form-control" type="text" name="nom_p" placeholder="Nom père" value="{{etudiant.nomPere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Prénom père  :</label>
                <input class="form-control" type="text" name="prenom_p" placeholder="Prénom père" value="{{etudiant.prenomPere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Nationalité père  :</label>
                <input class="form-control" type="text" name="nationalite_p" placeholder="Nationalité père" value="{{etudiant.nationalitePere}}"> 
            </div>
        </div> 


        <div class="col-md-6">
            <div class="form-group">
                <label>  profession père  :</label>
                <input class="form-control" type="text" name="profession_p" placeholder="Profession père" value="{{etudiant.professionPere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  employé père  :</label>
                <input class="form-control" type="text" name="employe_p" placeholder="Employé père" value="{{etudiant.employePere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Catégorie père  :</label>
                <input class="form-control" type="text" name="categorie_p" placeholder="Catégorie père" value="{{etudiant.categoriePere}}"> 
            </div>
        </div> 


        <div class="col-md-6">
            <div class="form-group">
                <label>  Téléphone père  :</label>
                <input class="form-control" type="text" name="tel_p" placeholder="Téléphone père" value="{{etudiant.telPere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Mail père  :</label>
                <input class="form-control" type="text" name="mail_p" placeholder="Mail père" value="{{etudiant.mailPere}}"> 
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>  Salaire père  :</label>
                <input class="form-control" type="text" name="salaire_p" placeholder="Salaire père" value="{{etudiant.salairePere}}"> 
            </div>
        </div>
    </fieldset>
</div>
<div class="col-md-6 parents-tab" style="border-left: 1px solid #eee;">
    <fieldset>
        <legend>Informations sur la mère </legend>
        <div class="col-md-6">
            <div class="form-group">
                <label>  Nom mère  :</label>
                <input class="form-control" type="text" name="nom_m" placeholder="Nom mère" value="{{etudiant.nomMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Prénom mère  :</label>
                <input class="form-control" type="text" name="prenom_m" placeholder="Prénom mère" value="{{etudiant.prenomMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Nationalité mère  :</label>
                <input class="form-control" type="text" name="nationalite_m" placeholder="Nationalité mère" value="{{etudiant.nationaliteMere}}"> 
            </div>
        </div> 


        <div class="col-md-6">
            <div class="form-group">
                <label>  profession mère  :</label>
                <input class="form-control" type="text" name="profession_m" placeholder="Profession mère" value="{{etudiant.professionMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  employé mère  :</label>
                <input class="form-control" type="text" name="employe_m" placeholder="Employé mère" value="{{etudiant.employeMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Catégorie mère  :</label>
                <input class="form-control" type="text" name="categorie_m" placeholder="Catégorie mère" value="{{etudiant.categorieMere}}"> 
            </div>
        </div> 


        <div class="col-md-6">
            <div class="form-group">
                <label>  Téléphone mère  :</label>
                <input class="form-control" type="text" name="tel_m" placeholder="Téléphone mère" value="{{etudiant.telMere}}"> 
            </div>
        </div> 

        <div class="col-md-6">
            <div class="form-group">
                <label>  Mail mère  :</label>
                <input class="form-control" type="text" name="mail_m" placeholder="Mail mère" value="{{etudiant.mailMere}}"> 
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>  Salaire mère  :</label>
                <input class="form-control" type="text" name="salaire_m" placeholder="Salaire mère" value="{{etudiant.salaireMere}}"> 
            </div>
        </div> 

    </fieldset>      
</div> 